.requirements-page .content-body {
    padding: 120px 100px 50px 100px;
}

div.requirement-panel {
    background-color: black;
    border-radius: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 5rem;
}

div.requirement-panel h1{
    color: white;
    font-weight: bold;
}

div.requirement-panel p{
    color: white;
    font-weight: bold;
}

div.requirement-panel ul{
    color: white;
    font-weight: bold;
}