div.requirement-panel {
    background-color: black;
    border-radius: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
}

div.requirement-panel h1,p,ul{
    color: white;
    font-weight: bold;
}