.staffing-page {
    padding-top: 125px;
}

.staffing-page .content-body {
    padding: 100px 100px 50px 100px;
    /* background-color: black; */
}

.staffing-page .staff-row {
    margin-bottom: 50px;
}

.staffing-page .staff-acc {
    width: 100%;
}

.staffing-page .staff-acc p,h1,label{
    color:white
}

.staffing-page .staff-acc .acc-toggle{
    background-color: black;
}

.staffing-page .staff-acc .acc-collapse{
    background-color: gray;
    padding-left: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.staffing-page .staff-acc p,h1{
    color:white
}

.staffing-page .acc-card{
    border-radius: 25px;
}

.staffing-page .acc-header{
    padding: 20px 20px 20px 40px;
}

.staffing-page .acc-name{
    padding-left: 40px;
    padding-top: 40px;
}

.staffing-page .acc-img {
    height: 150px;
    width: 150px; 
}
